<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ spiel.tab }}</title>

	<!-- Bootstrap core CSS & Custom styles for this template -->

    {% include 'includes/jp_css.html' %}
<style>
.drop-icon-btn {
 /* background-color: #4CAF50;*/
  color: white;
  padding: 2px;
  font-size: 16px;
  border: none;
}

.drop-icon {
  position: relative;
  display: inline-block;
}

.drop-icon-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    left: auto !important;
    right: 0 !important;
}

.drop-icon-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  width: 360px;
}

.drop-icon-content a:hover {background-color: #ddd;}

.drop-icon:hover .drop-icon-content {display: block;}

.drop-icon:hover .drop-icon-btn {background-color: #ffffff;}
</style>

  </head>
<body style="font-family: Courier, monospace; font-size: 16px">


<!-- joepython navbar -->
{% include 'includes/jp_navbar.html' %}

<!-- Page Container -->
<div class="container">

    <!-- Header Content -->

    <div class="row">
    <!-- Post Header -->
        <div class="col-lg-8">
            <h2 class="mt-4 mb-3">{{ spiel.title }}<br/>
            <small> by {{ spiel.author }}</small>
            </h2>

            <!-- Date/Time -->
            <span style="line-height: 60%">
                <p>Posted on {{ spiel.post_date }}</p>
                <strong>[<a href="/blog/{{ spiel.thread }}.html">{{ spiel.thread }}</a> Thread]</strong>
            </span>
        </div>
    <!-- /Post Header -->


    </div>
    <!-- Header Content -->
    <hr>

    <!-- Page Content -->
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            {% block post_content %}
            {% endblock post_content %}

        </div>  <!-- /Post Content Column -->

        <!-- Stanza Widgets Column -->
        <div class="col-md-4">

            {% block stanza_widgets %}
            {% endblock stanza_widgets %}

        </div>  <!-- /Stanza Widgets Column -->

    </div>  <!-- /Page Content row -->

    <hr>
<div class="row mb-4">

    <!-- Pending Comments Section -->

	{% include 'includes/jp_nocomments.html' %}

</div>

Edited: {{ spiel.edit_date[0:19] }}(utc) Generated: {{ spiel.publish_date }}(utc)

</div>  <!-- /Page Container -->

<!-- Footer -->

{% include 'includes/jp_footer.html' %}

<!-- Bootstrap core JavaScript -->

{% include 'includes/jp_bootstrap_js.html' %}



</body>
</html>