<!-- template main extends "blox_base.html" -->
{% extends "blog/main_base.html" %}


{% block post_content %}
    <table>
    {% for s in paths %}
        <tr>
            <td>
        {{ s.post_year }}/{{ s.post_month }}/{{ s.post_day }}
            </td>
            <td width="30px"></td>
            <td>
        <a href="/blog/{{ s.post_year }}/{{ s.post_month }}/{{ s.post_day }}/{{ s.post_fname }}">
    {{ s.title }}
    </a>
        </tr>
    {% endfor %}
    </table>
{% endblock post_content %}



{% block stanza_widgets %}
    {% for stanza in stanzas %}
        {{ stanza | safe }}
    {% endfor %}
{% endblock stanza_widgets %}


{% block add_scripts %}
<script src="../../../../../static/js/ul.js"></script>

{% endblock add_scripts %}


