{% extends 'dbx/base.html' %}


{% block tab_title %}
    <title>{{ tab_title }}</title>
{% endblock tab_title %}

{% block body %}

<br>
<h2>blox - DBX Maintenance: Add New Rhyme</h2>
<br>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span>
{% endfor %}

<div><br><br>Add rhyme to spiel "{{ spiel.title }}":
    <br/><br/>
    <form method="post" action="/add_stanza/{{ spiel.sid }}/rhyme">
    <table>
        <tr>
            <td>
                <table>
                <tr>
                    <td>
                        Seq #
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" name="seq_1" id="seq_new" value="0" required>
                        <input type="hidden" name="orig_seq_1" value="0">
                    </td>
                </tr>
                <tr>
                    <td>
                    <select name="part_1_1">
                        <option value="blue_box">blue_box</option>
                        <option value="code">code</option>
                        <option value="graph" selected>graph</option>
                        <option value="lead_text">lead_text</option>
                        <option value="straight_html">straight_html</option>
                        <option value="h1">h1</option>
                        <option value="h2">h2</option>
                        <option value="h3">h3</option>
                        <option value="h4">h4</option>
                        <option value="h5">h5</option>
                        <option value="h6">h6</option>
                    </select>
                    </td>
                </tr>
                </table>
            </td>
            {% set bg = 'white' %}
            <td>
                <textarea rows="12" cols="80" name="part_2_1" required style="font-size: 16px; background-color: {{ bg }}" autofocus="autofocus"></textarea>

            </td>
        </tr>

    </table>
        <input type="hidden" name="spiel_sid" value="{{ spiel.sid }}">
    <br><br><input type="Submit" value="Add Rhyme" style="background: #cc5500; color: white; font-size: 16px">
    </form>
</div>

{% endblock body %}
