{% extends 'dbx/base.html' %}


{% block body %}
<br>
<h2>Edit Stanzas for: "{{ spiel.title }}"</h2>
<br>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message }}</b></span>
{% endfor %}

<div>
    <form method="post" action="/update_stanzas/{{ spiel.sid }}/stanza" id="stanzas">
    <div class="row">
    <input type="Submit" value="Cancel" name="cancel" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update (return)" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update-->Rhymes" name="rhyme" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="submit" value="+Blank Stanza" name="ins_dn_999900" style="background: #cc5500;
           color: white; font-size: 16px">
<input type="hidden" id="spiel_num" name="spiel_num" value="{{ spiel.sid }}">
</div>
    <div class="row">
    {% for c in spiel.stanzas %}
    <table>
        <tr>
            <td>
                <table style="margin-top: 40px">
                <tr style="margin-right: 0px">
                    <td>
                        <input type="number" name="seq_{{ loop.index }}" value="{{ c.e_seq }}" style="text-align: right; width: 40%; font-size: 14px">
                    </td>
                </tr>
                <tr style="margin-right: 0px">
                    <td style="font-size: 80%">
                        <button type="submit" value="+&uarr;" name="ins_up_{{  c.e_seq  }}">+&uarr;</button>
                        <button type="submit" value="+&darr;" name="ins_dn_{{ c.e_seq }}">+&darr;</button>
                        <input type="hidden" name="orig_seq_{{ loop.index }}" value="{{ c.d_seq }}">
                       <input type="Submit" value="Upd" name="update_{{ c.e_seq }}" style="background: #cc5500; color: white; width: 40%; font-size: 14px">
                    </td>
                </tr>
                </table>
            </td>
            {% set bg = 'white' %}
            <td>
                <textarea rows="2" cols="40" name="part_1_{{ loop.index }}" required style="font-size: 20px; background-color: {{ bg }}; margin-top: 40px"
                          {% if c.e_seq == loc %}
                              autofocus
                          {% else %}
                                id="#{{ c.e_seq }}_{{ loc }}"
                          {% endif %}>{{ c.part_1 }}</textarea>
                <button type="submit" value="-" name="delete_{{ c.e_seq }}">-</button>

            </td>
        </tr>
        <tr>
            <td>
            <!--This empty TD structure is for spacing-->
            </td>
            {% set bg = 'white' %}
            <td>
                <textarea rows="{{ c.height }}" cols="48" name="part_2_{{ loop.index }}" id="body_text_{{ loop.index }}" required style="font-size: 16px; background-color: {{ bg }}">{{ c.part_2 }}</textarea>

            </td>
        </tr>

    </table>
    {% endfor %}

    </table>
    </div>
    <div class="row">
    <input type="Submit" value="Cancel" name="cancel" style="background: #cc5500; color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update (return)" style="background: #cc5500;
           color: white; font-size: 16px; margin-right: 40px">
    <input type="Submit" value="Update-->Rhymes" name="rhyme" style="
           background: #cc5500; color: white; font-size: 16px; margin-right: 40px">
    <input type="submit" value="+Blank Stanza" name="ins_dn_999000"
           style="background: #cc5500; color: white; font-size: 16px">
    <input type="hidden" id="spiel_num" name="spiel_num" value="{{ spiel.sid }}">
</div>
    </form>
</div>
<br/><br/>

{% endblock body %}
