{% extends 'dbx/base.html' %}


{% block tab_title %}
    <title>{{ tab_title }}</title>
{% endblock tab_title %}

{% block navbar %}
<div class="navbar" style="font-family: Lucida Console, Courier, monospace">
  <a href="/blox_local/">Home</a>
  <a href="/show_all_spiels/" style="color: #cc5500">All Spiels</a>
  <a href="/edit_spiel/{{ spiel.sid }}" style="color: #cc5500">{{ spiel.title }}</a>
</div>
{% endblock navbar %}

{% block body %}

<br>
<h2>blox - DBX Maintenance: Add New Stanza </h2>
<br>

<div><br><br>Add Stanza to Spiel "{{ spiel.title }}":
    <br/><br/>
    <form method="post" action="/add_stanza/{{ spiel.sid }}/stanza">
    <table>
        <tr>
            <td>
                <table>
                <tr>
                    <td>
                        Stanza Seq#
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" name="seq_1" id="seq_new" value="0" required>
                        <input type="hidden" name="orig_seq_1" value="0">
                    </td>
                </tr>
                </table>
            </td>
            {% set bg = 'white' %}
            <td>
                <textarea rows="3" cols="50" name="part_1_1" required style="font-size: 16px; background-color: {{ bg }}" autofocus="autofocus"></textarea>

            </td>
        </tr>
        <tr>
            <td>
                <table>
                <tr>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
                </table>
            </td>
            {% set bg = 'white' %}
            <td>
                <textarea rows="12" cols="50" name="part_2_1" id="body_text" required style="font-size: 16px; background-color: {{ bg }}" autofocus="autofocus"></textarea>

            </td>
        </tr>

    </table>
        <input type="hidden" name="spiel_sid" value="{{ spiel.sid }}"><br><br>
        <input type="Submit" value="Add Stanza" style="background: #cc5500; color: white; font-size: 16px">
    </form>
</div>

{% endblock body %}
