{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>Not Implemented</title>
{% endblock tab_title %}

{% block navbar %}
    <!-- dbx navbar -->
    {% include 'includes/dbx_navbar.html' %}
{% endblock navbar %}

{% block body %}
    <br><br>
    <h2>"{{ page_name }}" Page Not Implemented Yet</h2>
    <br><br>
    <h4>Use NavBar Options to Get Back on Track</h4>
{% endblock body %}
