{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>Settings</title>
{% endblock tab_title %}

{% set blog_title = blog_settings.title %}
{% set threads = blog_settings.e_threads %}
{% set footer = blog_settings.footer %}
{% set copyright = blog_settings.copyright %}


{% block navbar %}
    <!-- dbx navbar -->
    {% include 'includes/dbx_navbar.html' %}
{% endblock navbar %}

{% block body %}

<br/>
    <h3>Blox-g: Global Settings</h3>

{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b><br/></span>
{% endfor %}
<br>
<div class="row" style="margin-left: 10px">
<form action="/settings/update/" method="post">
    <table>
        <tr>
            <td style="text-align: right">
                <label for="blogtitle">Blog Title:</label>

            </td>
            <td>
                <input type="text" name="blogtitle" id="blogtitle"
                       value="{{ blog_title }}"
                       size=51 required>
            </td>
        </tr>

        <tr>
            {% set bg = 'white' %}
            <td style="text-align: right">
                    <label for="footer_heading">Footer:</label>

                </td>
            <td>
                <label>
<textarea rows="2" cols="40" name="footer_heading" style="font-size: 20px; background-color: {{ bg }}; margin-top: 40px"
          >{{ footer['heading'] }}</textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
            <!--This empty TD structure is for spacing-->
            </td>
            {% set bg = 'white' %}
            <td>
                <textarea rows="8" cols="50" name="footer_paragraph" id="footer_paragraph"  style="font-size: 16px; background-color: {{ bg }}">{{ footer['paragraph'] }}</textarea>

            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <label for="holder">Copyright:</label>

            </td>
            <td style="text-align: left">
                <input type="text" name="holder" id="holder" size="36"
                value="{{ copyright['holder'] }}">
                <input type="text" name="start_year" id="start" size="4"
                        value="{{ copyright['start_year'] }}">
                -
                <input type="text" name="end_year" id="end" size="4"
                        value="{{ copyright['end_year'] }}">

            </td>
        </tr>
        <tr><td><br/></td></tr>

        <tr>
            <td style="text-align: right; vertical-align: top">
                Threads:<br/>
            </td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Ind </th>
                            <th></th>
                            <th>Nav </th>
                            <th></th>
                            <th>Thread </th>
                        </tr>
                    </thead>
                    {% for t_o in threads %}
                    <tr>
                        <td>
                            <input type="number" name="idx_{{ t_o['index_order'] }}"  min="1" max="99" value="{{ t_o['index_order'] }}" size="2">
                        </td><td>&nbsp;</td>
                        <td>
                            <input type="number" name="nav_{{ t_o['index_order'] }}"  min="0" max="99" value="{{ t_o['nav_order'] }}" size="2">
                        </td><td>&nbsp;</td>
                        <td>
                            <input name="tname_{{ t_o['index_order'] }}"  value="{{ t_o['thread_name'] }}">
                        </td>
                        <td>
                <button type="submit" value="-" name="delete_{{ t_o['index_order'] }}" style="background-color: red; color: white">-</button>
                    </td><td> </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <input type="number" min="0" max="99" name="t_index" value="" size="2">
                    </td><td>&nbsp;</td>
                    <td>
                        <input type="number" min="0" max="99" name="t_nav" value="" size="2">
                    </td><td>&nbsp;</td>
                    <td>
                        <input type="text" name="t_name" value="">
                    </td><td> </td>
                    <td>(Fill in to add thread)</td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit" style="background: #cc5500; color: white; font-size: 16px; margin-right: 158px">
</form>
<br/>
</div>
{% endblock body %}
