<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{spiel.tab}}</title>

    <!-- Bootstrap core CSS & Custom styles for this template -->


<!-- Bootstrap core CSS -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="static/css/modern-business.css" rel="stylesheet">

<!-- Use for DEV only  -- Delete dev.css if detected in PROD -->
<link href="static/css/dev.css" rel="stylesheet">



  </head>

  <body style="font-family: Courier, monospace; font-size: 16px">


<!-- joepython navbar -->
{% include 'includes/jp_navbar.html' %}


    <!-- Page Content -->
    <div class="container">

    <!-- Post Header -->
    <h2 class="mt-4 mb-3">{{ spiel.title }}<br/>
    <small> by {{ spiel.author }}</small>
    </h2>
    <!-- /Post Header -->

      <!-- Marketing Icons Section -->
      <div class="row">
      <!-- Messages -->
        <!-- Post Content Column -->
        <div class="col-lg-8">
          <div>
        {% for message in get_flashed_messages() %}
            <span style="color: red"><b>{{ message | safe }}</b></span>
        {% endfor %}
          </div>

            {% block post_content %}
                {% for segment in segments %}
                    {{ segment|safe }}
                {% endfor %}
            {% endblock post_content %}

        </div>  <!-- /Post Content Column -->


        <!-- Sidebar Widgets Column -->
        <div class="col-lg-4">
            {% block stanza_widgets %}
                {% for stanza in stanzas %}
                    {{ stanza | safe }}
                {% endfor %}
            {% endblock stanza_widgets %}

        </div>


	  </div>
      <!-- /.row -->

      <!-- Portfolio Section -->

      <div class="row">
	  </div>
      <!-- /.row -->

		      <div class="row">
			  </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
      </div>
      <!-- /.row -->

      <hr>


<!-- Pending Comments Section -->
    {% include "includes/jp_nocomments.html" %}

Edited: {{ spiel.edit_date[0:19] }}(utc) Generated: {{ spiel.publish_date }}(utc)


    </div>
    <!-- /.container -->

<!-- Footer -->

{% include 'includes/jp_footer.html' %}

	<!-- Bootstrap core JavaScript -->

<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>
