{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>{{ tab_title }}</title>
{% endblock tab_title %}


{% block body %}
<br>
<h2>blox - DBX Maintenance: SPIELS</h2>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe}}</b></span>
{% endfor %}
<br>
<div class="row" style="font-size: 16px; margin-left: 0px; margin-bottom: 4px">
    <div>
        <form action="/new_spiel/" method="post">
            <input type="submit" value="Add a New Spiel" style="background: #cc5500; color: white; font-size: 16px">
        </form>
    </div>
    <div style="font-size: 16px; margin-left: 80px; margin-bottom: 4px">
        <form action="/show_all_spiels/" method="post">
            <div class="row">
                <div>
                    <label for="phrase">Search Phrase:</label>
                    <input type="text" name="phrase" id="phrase"
                           value="{{ phrase }}"
                           onchange="this.form.submit()"
                           width="60" >
                    <input type="submit" value="Search"
                        style="background: #cc5500; color: white;
                            font-size: 16px">
                </div>
            </div>
            <div class="row">

                <section>
                <div style="float:left;margin-right:20px">
                <label for="target" style="display: block; font-size: 24px; margin-bottom: 0px"> Thread</label>
                <select name="thread" id="thread" style="display: block"
                        onchange="this.form.submit()"
                        style="font-size: 20px" required>
                    {% for s_o in settings.d_threads %}
                        {% if thread == s_o["thread_name"] %}
                     <option value="{{ s_o["thread_name"] }}" selected>{{ s_o["thread_name"] }}</option>
                        {% else %}
                     <option value="{{ s_o["thread_name"] }}">{{ s_o["thread_name"] }}</option>
                        {% endif %}
                     {% endfor %}
                </select>
                </div>

                <div style="float:left;margin-right:20px;margin-left:30px">
                <label for="target" style="display: block; font-size: 24px; margin-bottom: 0px"> Target</label>
                <select name="target" id="target" style="display: block"
                        onchange="this.form.submit()"
                        style="font-size: 20px" required>
                    {% for s_o in target_options %}
                        {% if target == s_o %}
                     <option value="{{ s_o }}" selected>{{ s_o }}</option>
                        {% else %}
                     <option value="{{ s_o }}">{{ s_o }}</option>
                        {% endif %}
                     {% endfor %}
                </select>
                </div>

                <div style="float:left;margin-right:20px;margin-left:30px">
                <label for="stencil" style="display: block; font-size: 24px; margin-bottom: 0px"> Stencil</label>
                <select name="stencil" id="stencil" style="display: block"
                        onchange="this.form.submit()"
                        style="font-size: 20px" required>
                    {% for s_o in stencil_options %}
                        {% if stencil == s_o %}
                     <option value="{{ s_o }}" selected>{{ s_o }}</option>
                        {% else %}
                     <option value="{{ s_o }}">{{ s_o }}</option>
                        {% endif %}
                     {% endfor %}
                </select>
                </div>
                </section>

        </div>
        </form>
    </div>
</div> <!-- containing row-->
<br><br>


    <h4>Published Spiels</h4>
<form action="/edit_spiel" method="post">
{% for spiel in spiel_list %}
    {% if spiel.target == 'public' %}
        <div style="line-height: 200%">
        <a href="/edit_spiel/{{ spiel.sid }}"> {{ spiel.post_date }} :: {{ spiel.title }} :: {{ spiel.filename }}</a>
        <br>
    {% endif %}
{% endfor %}
    </div>
</form>


    <h4>Spiels Under Review</h4>
<form action="/edit_spiel" method="post">
{% for spiel in spiel_list %}
    {% if spiel.target == 'review' %}
        <div style="line-height: 200%">
        <a href="/edit_spiel/{{ spiel.sid }}"> {{ spiel.post_date }} :: {{ spiel.title }} :: {{ spiel.filename }}</a>
        <br>
    {% endif %}
{% endfor %}
    </div>
</form>



    <h4>Internal Spiels</h4>
<form action="/edit_spiel" method="post">
{% for spiel in spiel_list %}
    {% if spiel.target == 'internal' %}
        <div style="line-height: 200%">
        <a href="/edit_spiel/{{ spiel.sid }}"> {{ spiel.post_date }} :: {{ spiel.title }} :: {{ spiel.filename }}</a>
        <br>
    {% endif %}
{% endfor %}
    </div>
</form>



    <h4>Local Spiels</h4>
<form action="/edit_spiel" method="post">
{% for spiel in spiel_list %}
    {% if spiel.target == 'local' %}
        <div style="line-height: 200%">
        <a href="/edit_spiel/{{ spiel.sid }}"> {{ spiel.post_date }} :: {{ spiel.title }} :: {{ spiel.filename }}</a>
        <br>
    {% endif %}
{% endfor %}
    </div>
</form>
    <br/><br/>
{% endblock body %}

