{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>GenSpec</title>
{% endblock tab_title %}


{% block navbar %}
<div class="navbar" style="font-family: Lucida Console, Courier, monospace">
  <a href="/blox_local/">Home</a>
  <a href="/generate/">Generate</a>
  </div>
{% endblock navbar %}

{% block body %}
<br>
<h2>blox - Generate Specifications</h2>
<br>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span>
{% endfor %}


<div style="width: 50%">Select spiels between dates:<br><br>
    <form method="post" action="/gen_dates/" id="gen_new">
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" id="start_date" style="font-size: 16px">
        <br/>
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" id="end_date" style="font-size: 16px">
        <br/><br/><br/>
    <input type="Submit" value="Select by Date" style="background: #cc5500; color: white; font-size: 16px">
    </form>
    <br/>
    <hr/>
</div>
<br/><br/>

<div style="width: 50%">Select from edited spiels only:<br><br>
<form action="/gen_selected/" method="post">
        <table>

        {% for spiel in spiel_list %}
            <tr style="line-height: 150%">
                <td><input type="checkbox" name="spiel_{{ spiel.sid }}" value="{{ spiel.sid }}"> </td>
                <td> {{ spiel.sid }}</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> {{ spiel.post_date }}</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> {{ spiel.title[0:30] }}...</td>
            </tr>
        {% endfor %}
        </table>
        <br/>
        <input type="checkbox" name="reverse" value="reverse">REVERSE Selections
    <br>
    <br>
        <input type="submit" value="Select (Multiple selections OK)" style="background: #cc5500; color: white; font-size: 16px">
    <br/><br/>
    <hr/>
    </form>
</div>
<br/><br/>

<br>


<div style="width: 50%">Select ancillary spiels:<br><br>
    <form method="post" action="/ancillary/" id="gen_new">
        <table>
            <tr style="line-height: 150%">
                <td><input type="checkbox" name="blox_index" value="blox_index"> </td>
                <td> Blox index page</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> post date</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> page title</td>
            </tr>
            <tr style="line-height: 150%">
                <td><input type="checkbox" name="another_page" value="another_page"> </td>
                <td> Another Page</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> post date</td>
                <td> &nbsp;|:|&nbsp; </td>
                <td> page title</td>
            </tr>
        </table>
        <br/>
    <br>
        <input type="submit" value="Select (Multiple selections OK)" style="background: #cc5500; color: white; font-size: 16px">
    <br/><br/>
    </form>
    <hr/>
</div>
<br/><br/>

{% endblock body %}
