{% extends 'dbx/base.html' %}

{% block tab_title %}
    <title>GenConfirm</title>
{% endblock tab_title %}

{% block navbar %}
    <!-- dbx navbar -->
    {% include 'includes/dbx_navbar.html' %}
{% endblock navbar %}


{% block body %}
<br>
<h2>Generate Options</h2>
{% for message in get_flashed_messages() %}
    <span style="color: red"><b>{{ message | safe }}</b></span>
{% endfor %}

<form action="/generate_all/" method="post">
    <br>
        <input type="submit" value="All Files" style="background: #cc5500; color: white; font-size: 16px">
    <br/><br/>

</form>


<form action="/publish_all/" method="post">
    <br>
        <input type="submit" value="Publish All" style="background: #cc5500; color: white; font-size: 16px"> (to Public site)
    <br/><br/>

</form>
{% endblock body %}
