
    <!-- Before and After-->
        <div class="col-md-4">
        <br/>
            <span style="margin-left: 14px">[{{ spiel.thread }}]</span>
            <strong><a href="previous" style="margin-left: 14px">&lt&lt;Prev</a></strong>
            <strong><a href="next" style="margin-left: 6px"> Next&gt;></a></strong>
            <span style="margin-left: 14px">[{{ spiel.thread }}]</span>
        <div class="drop-icon" style="margin-left: 10px">
          <button class="drop-icon-btn"><img src="../../../../../static/images/10.png" width="24px" height="18px"></button>
          <div class="drop-icon-content" style="width: 114px; margin-left: 14px">
              {% for post in bna['t10'] %}
            <a href="{{ post.blog_path }}">{{ post.post_date }} {{ post.title }}</a>
              {% endfor %}
          </div>
        </div>
        <div class="drop-icon">
          <button class="drop-icon-btn" style="margin-left: 40px"><img src="../../../../../static/images/infinity.png" width="24px" height="18px"></button>
          <div class="drop-icon-content" style="width: 114px; margin-left: 14px">
              {% for post in bna['thread'] %}
            <a href="{{ post.blog_path }}">{{ post.post_date }} {{ post.title }}</a>
              {% endfor %}
          </div>
        </div>
            <br/><br/>
            <span style="margin-left: 14px">[All Posts]</span>
        <div class="drop-icon" style="margin-left: 10px">
          <button class="drop-icon-btn"><img src="../../../../../static/images/10.png" width="24px" height="18px"></button>
          <div class="drop-icon-content" style="width: 114px; margin-left: 14px">
              {% for post in bna['a10'] %}
            <a href="{{ post.blog_path }}">{{ post.post_date }} {{ post.title }}</a>
              {% endfor %}
          </div>
        </div>
        <div class="drop-icon">
          <button class="drop-icon-btn" style="margin-left: 40px"><img src="../../../../../static/images/infinity.png" width="24px" height="18px"></button>
          <div class="drop-icon-content" style="width: 114px; margin-left: 14px">
              {% for post in bna['all'] %}
            <a href="{{ post.blog_path }}">{{ post.post_date }} {{ post.title }}</a>
              {% endfor %}
          </div>
        </div>

	</div>
    <!-- /Before and After-->
