<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">{{ settings.title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Threads
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">

                  {% for t in settings.d_threads %}
                      {% if t["nav_order"] > 0 %}
              <a class="dropdown-item" href="/blog/{{ t["thread_name"] }}.html">{{ t["thread_name"] }}</a>
                      {% endif %}
                  {% endfor %}
              </div>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
