<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/blox_local">DBX - Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/show_all_spiels/">DB-Maint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/generate/">Generate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publish/">Publish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings/">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view/">View</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
