<script>

let tags = { // 'a'
            65: {'open': '<a href="" target="_blank">',
                 'close': '</a>'},
            // 'b'
            66: {'open': '<br/>',
                 'close': ''},
            // 'h'    ---->  alert help screen
            72: {'open': '',
                 'close': ''},
            // 'l'
            76: {'open': '<u>',
                 'close': '</u>'},
            // 'm'
            77: {'open': '<img src="" width="100" height="100" />',
                 'close': ''},
            // 'p'
            80: {'open': '<br/><br/>\n\n',
                 'close': ''},
            // 'q'
            81: {'open': '"QUOTATION GOES HERE..."<br/>\n\n',
                 'close': '<div style="text-align: right">SOURCE AND DATE</div>'},
            // 's'
            83: {'open': '<strong>',
                 'close': '</strong>'},
            // 't'
            84: {'open': '<em>',
                 'close': '</em>'}
           };

let debug = true;

window.addEventListener('keydown', function(e) {
  if (e.altKey !== true || e.target.tagName !== 'TEXTAREA') {
      return;
  }
  if (debug) {
      console.log('keyCode==' + e.keyCode);
      console.log(e.target.tagName);
  }
  if (!(e.keyCode in tags)) {
      if (debug) {
          console.log('KeyCode not in tags: ' + e.keyCode)
      }
      return;
  }
  if (e.keyCode == 72) {
      alert('a = Anchor\n' +
            'b = Break\n' +
            'h = Help (this screen)\n' +
            'l = underLine\n' +
            'm = iMage\n' +
            'p = Paragraph\n' +
            'q = Quote block\n' +
            's = Strong\n' +
            't = em (iTalic)\n'
           );
      e.preventDefault();
      return;
  }

  let cPosStart = e.target.valueOf().selectionStart;
  let cPosEnd = e.target.valueOf().selectionEnd;
  insertAtCursor(e.target, tags[e.keyCode]);
  e.preventDefault();
  e.target.valueOf().selectionStart = cPosStart + tags[e.keyCode]['open'].length;
  e.target.valueOf().selectionEnd = cPosEnd + tags[e.keyCode]['open'].length;
  if (debug) {
      console.log('cPosStart=' + cPosStart + '    cPosEnd=' + cPosEnd);
  }

});

function insertAtCursor(myField, myValue) {
    // Remove IE-Edge support for now - May resume later

    //IE support
    //if (document.selection) {
    //    myField.focus();
    //    let sel = document.selection.createRange();
    //    sel.text = myValue;
    //}
    //MOZILLA and others
    //else

    // Remove test for empty myField
    // May resume for selected Alt-x combinations

    // if (!myField.value) {
    //     return;
    // }

    let startPos = myField.selectionStart;
    let endPos = myField.selectionEnd;
    let selection = myField.value.substring(startPos, endPos);
    let right_side = myValue['close'] + myField.value.substring(endPos, );
    let left_side = myField.value.substring(0, startPos) + myValue['open'];
    myField.valueOf().value = left_side + selection + right_side;
    if (debug) {
        console.log('start==' + startPos + '  end==' + endPos);
        console.log('selection==*' + selection + '*');
        console.log('leftside==*' + left_side + '*');
        console.log('rightside==*' + right_side + '*');
        console.log('myField==*' + myField + '*');
    }
}
</script>
    